In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Total.csv", low_memory=False)

In [3]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011

In [4]:
def get_employee_details(employee_name):
    """
    Fetch employee details based on the provided name.

    Parameters:
    employee_name (str): The name of the employee to search for.

    Returns:
    DataFrame or str: The employee's details if found, otherwise a message.
    """
    if 'EmployeeName' not in df.columns:
        return "Error: 'EmployeeName' column not found in dataset."

In [5]:
employee_name = "NATHANIEL FORD"  
employee_data = df[df['EmployeeName'].str.lower() == employee_name.lower()]  
print(employee_data)

     EmployeeName                                        JobTitle    BasePay  \
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18

  OvertimePay   OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
0        0.00  400184.25  Not Provided  567595.43         567595.43  2011

In [6]:
 employee_data = df[df['EmployeeName'].str.lower() == employee_name.lower()]

In [7]:
def get_employee_details(employee_name):
    employee_data = df[df['EmployeeName'].str.lower() == employee_name.lower()] 
    
    if not employee_data.empty:
        return employee_data
    else:
        return "Employee not found."

In [8]:
employee_name = "NATHANIEL FORD"
print(get_employee_details(employee_name))

     EmployeeName                                        JobTitle    BasePay  \
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18

  OvertimePay   OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
0        0.00  400184.25  Not Provided  567595.43         567595.43  2011

In [13]:
import pandas as pd


df = pd.read_csv("Total.csv", low_memory=False)


salary_dict = {}


for _, row in df.iterrows():
    name = row["EmployeeName"].upper()  
    details = row.to_dict()  
    details.pop("EmployeeName")  

    if name in salary_dict:
        salary_dict[name].append(details)  
    else:
        salary_dict[name] = [details]  


def get_employee_details_from_dict(employee_name):
    employee_name = employee_name.upper()  
    return salary_dict.get(employee_name, "Employee not found.")


employee_name = "NATHANIEL FORD"
print(get_employee_details_from_dict(employee_name))

[{'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': '167411.18', 'OvertimePay': '0.00', 'OtherPay': '400184.25', 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}]

In [ ]:
import pandas as pd

In [ ]:
def load_data(file_path):
    try:
        df = pd.read_csv(file_path, low_memory=False)
        return df
    except FileNotFoundError:
        print(f"Error: The file '{file_path}' was not found.")
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
    except pd.errors.ParserError:
        print("Error: The file could not be parsed.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    return None

In [ ]:
def process_data_to_dict(df):
    if df is None:
        print("Error: DataFrame is None. Cannot process data.")
        return {}

In [ ]:
salary_dict = {}
    try:
        for _, row in df.iterrows():
            name = row["EmployeeName"].upper()  
            details = row.to_dict()
            details.pop("EmployeeName", None)

In [ ]:
if name in salary_dict:
                salary_dict[name].append(details)  
            else:
                salary_dict[name] = [details] 
    except KeyError:
        print("Error: 'EmployeeName' column is missing from the DataFrame.")
    except Exception as e:
        print(f"An unexpected error occurred while processing data: {e}")

    return salary_dict

In [ ]:
def process_data_to_dict(df):
    try:
        if 'EmployeeName' not in df.columns:
            raise KeyError("The DataFrame does not contain an 'EmployeeName' column.")
    
        salary_dict = df.set_index('EmployeeName').T.to_dict()
        return salary_dict
    except KeyError as e:
        print(f"KeyError: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    return None

In [2]:
import pandas as pd

def load_data(file_path):
    try:
        df = pd.read_csv(file_path, low_memory=False)
        return df
    except FileNotFoundError:
        print(f"Error: The file '{file_path}' was not found.")
    except pd.errors.EmptyDataError:
        print("Error: The file is empty.")
    except pd.errors.ParserError:
        print("Error: The file could not be parsed.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
    return None

In [6]:
file_path = "Total.csv"
df = load_data(file_path)
if df is not None:
    pass
else:
    print("Data loading failed.")

In [11]:
import zipfile

zip_filename = 'Employee_Profile.zip'
csv_filename = 'Total.csv'  

with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
    zipf.write(csv_filename)

print(f"ZIP file '{zip_filename}' created successfully.")

ZIP file 'Employee_Profile.zip' created successfully.